.container{
    margin-bottom: 5%;
}
.orange-bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 12px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom,#FF136F 0%,#FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.watch, .bag, .shoes1{
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
}
.watch{
    background-color: orange;
}
.bag{
    background-color: rgb(77, 173, 77);
}
.shoes1{
    background-color: blue;
}
.categroes img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 10px 10px 10px lightgray;
    border-radius: 10px;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: rgb(143, 142, 142);
}
.footer-finish{
    font-size: 16px;
    text-align: center;
    
}
